<nav class="topnav">
  <a routerLink="/home">Inicio</a>
  <a routerLink="/book/store/default">Tienda de libros</a>
  <ng-template [ngIf]="isUserLogged()">
    <a routerLink="/user/profile/mine">Mi perfil</a>
    <a routerLink="/user/purchaseHistory">Mi historial de compras</a>
    <a *ngIf="isUserAdmin()" routerLink="/book/create">Crear libro</a>
  </ng-template>
  <div class="search-container">
    <form #formDir="ngForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <input type="text" name="query" placeholder="título, autor, género, ISBN..." formControlName="query" />
      <button type="submit" [disabled]="searchForm.invalid"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div>
    <ng-template [ngIf]="!isUserLogged()">
      <a class="menu-item-right" routerLink="/user/register">Registrarse</a>
      <a class="menu-item-right" routerLink="/user/login">Iniciar sesión</a>
    </ng-template>
    <ng-template [ngIf]="isUserLogged()">
      <a class="menu-item-right" routerLink="/home" (click)="logout()">
        {{getUsername()}}
        <span>¡Hola, {{username}}!</span> Cerrar sesión
      </a>
      <a class="menu-item-right" routerLink="/user/cart">Carrito de compras ({{cartItems}})</a>
    </ng-template>
  </div>
</nav>