<div class="form login-form">
  <form #formDir="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Inicio de sesión</h1>
    <div class="form-field">
      <input type="text" class="username" name="username" placeholder="Nombre de usuario" formControlName="username" />
      <i class="fa fa-user" aria-hidden="true"></i>
      <div *ngIf="username.invalid && (username.dirty || username.touched)" class="input-error">
        <div *ngIf="username.errors.required">
          El nombre de usuarios es requerido
        </div>
      </div>
    </div>
    <div class="form-field">
      <input type="password" class="pass" name="password" placeholder="**********" formControlName="password" />
      <i class="fa fa-unlock-alt" aria-hidden="true"></i>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="input-error">
        <div *ngIf="password.errors.required">
          La contraseña es requerida
        </div>
        <div *ngIf="password.errors.minlength || password.errors.maxlength">
          La contraseña debe de ser entre 3 y 16 caracteres
        </div>
      </div>
    </div>
    <input type="submit" class="submit" value="Iniciar sesión" [disabled]="loginForm.invalid" />
  </form>
</div>